<!DOCTYPE html>
<html>
  <head>
    <title>Remote Jobs</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet">
  </head>
  <body>
    <h1 style="text-align: center;">Classroom Booking</h1>
    <form style="margin: auto;" action="/login" method="post">
      <h4>Login using SchoolID and first name:</h4>
      <input type="text" name="SchoolID" placeholder="i.e. 12345">
        <input type="text" name="FirstName" placeholder="i.e. James">
      <button type="submit">Login</button>
    </form>
  </body>
</html>